<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Mínimo 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid fixed>
    <form>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Asignaturas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Estudiantes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Listados</ion-card-title>
            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">
              Editar</ion-button>
          </div>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">
              Cerrar sesión</ion-button>
          </div>

        </ion-col>
      </ion-row>


    </form>
    <ion-card-content>
    </ion-card-content>
  </ion-grid>
</ion-content>