<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Mínimo 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid fixed>
    <form>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Asignaturas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <table class="table table-sm">
                <thead>
                  <th>Nombre</th>
                  <th>Operations</th>
                </thead>
                <tbody>
                  <tr *ngFor="let subject of subjectService.subjects">
                    <td>{{subject.name}}</td>
                    <td>
                      <a (click)="subjectDetail(subject._id)">
                        <i class="material-icons">info</i>
                      </a>
                      <a (click)="deleteSubject(subject._id)">
                        <i class="material-icons">delete</i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Estudiantes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <table class="table table-sm">
                <thead>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Operations</th>
                </thead>
                <tbody>
                  <tr *ngFor="let student of studentService.students">
                    <td>{{student.name}}</td>
                    <td>{{student.address}}</td>
                    <td>
                      <a (click)="editStudent(student._id)">
                        <i class="material-icons">edit</i>
                      </a>
                      <a (click)="deleteStudent(student._id)">
                        <i class="material-icons">delete</i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <ion-button (click)="openModal()" expand="block" type="submit" class="ion-no-margin" data-toggle="modal">Añadir Estudiante</ion-button>
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Listados</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div>
                <ion-button (click)="getStudentsTelecos()" expand="block" type="submit" class="ion-no-margin" data-toggle="modal"
                  data-target="#telecosModal">
                  Lista estudiantes Sistemas de telecomunicaciones
                </ion-button>
              </div>
              <div class="col-xs-12">
                <ion-button (click)="getStudentsTelematica()" expand="block" type="submit" class="ion-no-margin" data-toggle="modal"
                  data-target="#telematicaModal">
                  Lista estudiantes Telematica
                </ion-button>
              </div>
              <div class="col-xs-12">
                <ion-button (click)="getStudentsAeros()" expand="block" type="submit" class="ion-no-margin" data-toggle="modal"
                  data-target="#aerosModal">
                  Lista estudiantes Sistemas Aeroespaciales
                </ion-button>
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </form>
    <ion-card-content>
    </ion-card-content>
  </ion-grid>
</ion-content>